<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Semesters</title>
    <link rel="stylesheet" type="text/css" href="/css/admin_viewSemester.css">
</head>

<body>
    <header>
        <h1>View Semesters</h1>
        <!-- Navigation Buttons -->
        <div class="buttons">
            <button onclick="history.back()" id="backBtn">Back</button>
            <button onclick="location.href='/logout'" id="logoutBtn">Logout</button>
        </div>
    </header>

    <!-- Semester List -->
    <section>
        <h2>Semesters for 2023/2024</h2>
        <table>
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Exam Period Start</th>
                    <th>Exam Period End</th>
                    <th>Resit Period Start</th>
                    <th>Resit Period End</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>2023-09-01</td>
                    <td>2024-01-31</td>
                    <td>2024-02-01</td>
                    <td>2024-02-15</td>
                    <td>2024-03-01</td>
                    <td>2024-03-15</td>
                    <td>
                        <button onclick="location.href='/userList/1st/2023-2024'" class="viewUsersBtn">User List</button>
                        <button onclick="location.href='/courseList/1st/2023-2024'" class="viewCoursesBtn">Course List</button>
                        <button onclick="location.href='/map/1st/2023-2024'" class="viewMapBtn">Open Map</button>
                    </td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>2024-02-01</td>
                    <td>2024-06-30</td>
                    <td>2024-07-01</td>
                    <td>2024-07-15</td>
                    <td>2024-08-01</td>
                    <td>2024-08-15</td>
                    <td>
                        <button onclick="location.href='/userList/2nd/2023-2024'" class="viewUsersBtn">User List</button>
                        <button onclick="location.href='/courseList/2nd/2023-2024'" class="viewCoursesBtn">Course List</button>
                        <button onclick="location.href='/map/2nd/2023-2024'" class="viewMapBtn">Open Map</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    </section>

    <footer>
        <p>&copy; 2024 Universidade Portucalense</p>
    </footer>
</body>

</html>
