<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Academic Year - Academic Directoristration</title>
    <link rel="stylesheet" type="text/css" href="/css/director_newYear.css">
</head>

<body>
    <header>
        <h1></h1>
        <!-- Logout Button -->
        <div class="button-container">
            <button id="logoutBtn" onclick="location.href='/logout'">Logout</button>
            <button onclick="window.location.href=document.referrer">Back</button>
        </div>
    </header>

    <main>
        <!-- First Semester -->
        <section>
            <h1>Create New Academic Year</h1>
            <h2>Define First Semester Period</h2>
            <form action="/director/saveSemester" method="post">
                <h3>Semester Dates</h3>
                <label for="firstStartDate">Semester Start:</label>
                <input type="date" id="firstStartDate" name="startDate" required>

                <label for="firstEndDate">Semester End:</label>
                <input type="date" id="firstEndDate" name="endDate" required>

                <h3>Define Exam Periods</h3>
                <label for="firstNormalExamStart">Regular Exam Start:</label>
                <input type="date" id="firstNormalExamStart" name="normalExamStart" required>

                <label for="firstNormalExamEnd">Regular Exam End:</label>
                <input type="date" id="firstNormalExamEnd" name="normalExamEnd" required>

                <label for="firstResourceExamStart">Resource Exam Start:</label>
                <input type="date" id="firstResourceExamStart" name="resourceExamStart" required>

                <label for="firstResourceExamEnd">Resource Exam End:</label>
                <input type="date" id="firstResourceExamEnd" name="resourceExamEnd" required>
            </form>
        </section>

        <!-- Second Semester -->
        <section>
            <h2>Define Second Semester Period</h2>
            <form action="/director/saveSemester" method="post">
                <h3>Semester Dates</h3>
                <label for="secondStartDate">Semester Start:</label>
                <input type="date" id="secondStartDate" name="startDate" required>

                <label for="secondEndDate">Semester End:</label>
                <input type="date" id="secondEndDate" name="endDate" required>

                <h3>Define Exam Periods</h3>
                <label for="secondNormalExamStart">Regular Exam Start:</label>
                <input type="date" id="secondNormalExamStart" name="normalExamStart" required>

                <label for="secondNormalExamEnd">Regular Exam End:</label>
                <input type="date" id="secondNormalExamEnd" name="normalExamEnd" required>

                <label for="secondResourceExamStart">Resource Exam Start:</label>
                <input type="date" id="secondResourceExamStart" name="resourceExamStart" required>

                <label for="secondResourceExamEnd">Resource Exam End:</label>
                <input type="date" id="secondResourceExamEnd" name="resourceExamEnd" required>
            </form>
        </section>

        <!-- Define Special Exam Period -->
        <section>
            <h2>Define Special Exam Period</h2>
            <form action="/director/saveNewYear" method="post">
                <label for="specialExamStart">Special Exam Start:</label>
                <input type="date" id="specialExamStart" name="specialExamStart" required>

                <label for="specialExamEnd">Special Exam End:</label>
                <input type="date" id="specialExamEnd" name="specialExamEnd" required>

                <button type="submit">Save New Year</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Universidade Portucalense</p>
    </footer>
</body>

</html>
