<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Academic Year - Academic Administration</title>
    <link rel="stylesheet" type="text/css" href="/css/director_editYear.css">
</head>

<body>
    <header>
        <h1>Edit Academic Year</h1>
        <!-- Logout Button -->
        <div class="button-container">
            <button id="logoutBtn" onclick="location.href='/logout'">Logout</button>
            <button onclick="window.location.href=document.referrer">Back</button>
        </div>
    </header>

    <main>
        <!-- First Semester -->
        <section>
            <h2>Define First Semester Period</h2>
            <form action="/director/updateYear" method="post">
                <input type="hidden" name="id" th:value="${yearUnit.id}" />
                <h3>Semester Dates</h3>
                <label for="firstStartDate">Semester Start:</label>
                <input type="date" id="firstStartDate" name="firstSemesterStart" th:value="${yearUnit.firstSemesterStart}" required>

                <label for="firstEndDate">Semester End:</label>
                <input type="date" id="firstEndDate" name="firstSemesterEnd" th:value="${yearUnit.firstSemesterEnd}" required>

                <h3>Define Exam Periods</h3>
                <label for="firstNormalExamStart">Regular Exam Start:</label>
                <input type="date" id="firstNormalExamStart" name="firstNormalExamStart" th:value="${yearUnit.firstNormalExamStart}" required>

                <label for="firstNormalExamEnd">Regular Exam End:</label>
                <input type="date" id="firstNormalExamEnd" name="firstNormalExamEnd" th:value="${yearUnit.firstNormalExamEnd}" required>

                <label for="firstResourceExamStart">Resource Exam Start:</label>
                <input type="date" id="firstResourceExamStart" name="firstResourceExamStart" th:value="${yearUnit.firstResourceExamStart}" required>

                <label for="firstResourceExamEnd">Resource Exam End:</label>
                <input type="date" id="firstResourceExamEnd" name="firstResourceExamEnd" th:value="${yearUnit.firstResourceExamEnd}" required>
            </form>
        </section>

        <!-- Second Semester -->
        <section>
            <h2>Define Second Semester Period</h2>
            <form action="/director/updateYear" method="post">
                <h3>Semester Dates</h3>
                <label for="secondStartDate">Semester Start:</label>
                <input type="date" id="secondStartDate" name="secondSemesterStart" th:value="${yearUnit.secondSemesterStart}" required>

                <label for="secondEndDate">Semester End:</label>
                <input type="date" id="secondEndDate" name="secondSemesterEnd" th:value="${yearUnit.secondSemesterEnd}" required>

                <h3>Define Exam Periods</h3>
                <label for="secondNormalExamStart">Regular Exam Start:</label>
                <input type="date" id="secondNormalExamStart" name="secondNormalExamStart" th:value="${yearUnit.secondNormalExamStart}" required>

                <label for="secondNormalExamEnd">Regular Exam End:</label>
                <input type="date" id="secondNormalExamEnd" name="secondNormalExamEnd" th:value="${yearUnit.secondNormalExamEnd}" required>

                <label for="secondResourceExamStart">Resource Exam Start:</label>
                <input type="date" id="secondResourceExamStart" name="secondResourceExamStart" th:value="${yearUnit.secondResourceExamStart}" required>

                <label for="secondResourceExamEnd">Resource Exam End:</label>
                <input type="date" id="secondResourceExamEnd" name="secondResourceExamEnd" th:value="${yearUnit.secondResourceExamEnd}" required>
            </form>
        </section>

        <!-- Define Special Exam Period -->
        <section>
            <h2>Define Special Exam Period</h2>
            <form action="/director/updateYear" method="post">
                <label for="specialExamStart">Special Exam Start:</label>
                <input type="date" id="specialExamStart" name="specialExamStart" th:value="${yearUnit.specialExamStart}" required>

                <label for="specialExamEnd">Special Exam End:</label>
                <input type="date" id="specialExamEnd" name="specialExamEnd" th:value="${yearUnit.specialExamEnd}" required>

                <button type="submit">Save Changes</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Universidade Portucalense</p>
    </footer>
</body>

</html>
