<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/master_index.css">
</head>

<body>

    <header>
        <h1>Director Panel</h1>
        <div class="header-buttons">
            <a href="/master/create-master" class="button">Create New Master</a>
            <a href="/master/create-director" class="button">Create New Director</a>
            <a href="/master/create-room" class="button">Create New Room</a>
            <a href="/master/logout" id="logoutBtn">Logout</a>
        </div>
    </header>

    <main>

        <!-- Masters List Section -->
        <section class="master-list">
            <h2>Masters</h2>
            <table id="master-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th> <!-- New column for username -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="master : ${masterUnits}">
                        <td th:text="${master.name}">Master Name</td>
                        <td th:text="${master.username}">Username</td> <!-- Display username -->
                        <td>
                            <button th:onclick="'window.location.href=\'/master/edit-master?id=' + ${master.id} + '\''">Edit</button>
                            
                            <form th:action="@{/master/remove-master/{id}(id=${master.id})}" method="POST" style="display:inline;">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </section>

        <!-- Director List Section -->
        <section class="director-list">
            <h2>Existing Directors</h2>
            <table id="director-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Username</th> <!-- Exibindo o atributo 'username' -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="director : ${directorUnits}">
                        <td th:text="${director.name}">Director Name</td>
                        <td th:text="${director.department}">Department</td>
                        <td th:text="${director.username}">Username</td>
                        <td>
                            <button th:onclick="'window.location.href=\'/master/edit-director?id=' + ${director.id} + '\''">Edit</button>
                            
                            <form th:action="@{/master/remove-director/{id}(id=${director.id})}" method="POST" style="display:inline;">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                
                
            </table>
        </section>

        <!-- Rooms List Section -->
        <section class="room-list">
            <h2>Available Rooms</h2>
            <table id="room-table">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Designation</th>
                        <th>Material Type</th>
                        <th>Number of Seats</th>
                        <th>Building</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room : ${roomUnits}">
                        <td th:text="${room.roomNumber}">Room Number</td>
                        <td th:text="${room.designation}">Designation</td>
                        <td th:text="${room.materialType}">Material Type</td>
                        <td th:text="${room.seatsCount}">Number of Seats</td>
                        <td th:text="${room.building}">Building</td>
                        <td>
                            <button th:onclick="'window.location.href=\'/master/edit-room?id=' + ${room.id} + '\''">Edit</button>
                            
                            <form th:action="@{/master/remove-room/{id}(id=${room.id})}" method="POST" style="display:inline;">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 University Master Panel</p>
    </footer>

</body>

</html>
