<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Remove Director</title>
    <link rel="stylesheet" type="text/css" href="/css/geral_confirmRemove.css">
    <link rel="icon" href="/images/upt-logo.png" type="image/png">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href='/logout'">Logout</button>
            <button onclick="window.location.href='/master'">Back</button>
        </nav>
    </header>

    <main>
        <section class="section">
            <h2>Confirm Remove Director</h2>
            <p th:text="${warning}"></p>
            <form th:action="@{/master/confirm-remove-director/{id}(id=${directorId})}" method="POST">
                <button type="submit">Yes, Remove Director</button>
            </form>
            <form th:action="@{/master}" method="GET">
                <button type="submit">Cancel</button>
            </form>
        </section>
    </main>

    <footer>
        <p><img src="/images/upt-logo.png" alt="Logo" style="height: 20px; vertical-align: middle; margin-right: 10px;">&copy; 2024 Universidade Portucalense Infante D. Henrique</p>
    </footer>
</body>

</html>
